<div >
  <form action="/" method="POST">
    <select class="id" name="Lenguaje" > 
      <option value="ruby">Ruby</option> 
      <option value="xml">Xml </option>
      <option value="yaml">Yaml </option>
    </select>
    <textarea class="textarea" name="body" id="body" rows="20"></textarea>
    <br/><input class="id_button" type="submit" value="Save"/>
  </form>
</div>
